# API keys / project-specific config
public_api_config.js
private_api_config.js

# Dependencies
node_modules/

# Firebase CLI local cache
.firebase/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

#Back-up
pokesearch-backup.html
